.recipes {
 display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 3rem;
margin: 30px ;
}

img {
    width: 100%;
}
.image {
display: flex;
flex-direction: column;
justify-content: space-between;
border: solid .7px grey;
border-radius: 8px;
/* background-color: rgb(186, 184, 184); */
}

.recipe-title {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem rgb(126, 125, 125);
  color: #fff;
  text-align: center;
}

@media (min-width: 600px) {
  .recipes {
    column-count: 2;
  }
}

@media (min-width: 1000px) {
  .recipes {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .recipes {
    column-count: 4;
  }
}